<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/edit" method="post">
        <input type="text" name='id' value= <%= data[0]._id %> style="display: none;" >
        Username: <input type="text" name='username' value= <%= data[0].username %> ><br>
        Password: <input type="text" name='password' value= <%= data[0].password %> ><br>
        <input type="submit" value="Edit">
    </form>

</body>
</html>